.event_container {
  position: relative;

  .gray {
    position: absolute;
    top: 0;
    left: -20%;

    @media (max-width: 500px) {
      display: none;
    }
  }

  .wrapper {
    max-width: 74vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.81rem;
    padding: 10rem 0;

    @media (max-width: 898px) {
      max-width: 90vw;
      flex-direction: column;
      gap: 3rem;
      padding: 7rem 0;
    }

    @media (max-width: 500px) {
      max-width: 95vw;
      padding: 4rem 0;
    }

    .image_holder {
      position: relative;
      svg {
        position: absolute;
        left: -2rem;
        top: -1.9rem;

        @media (max-width: 898px) {
          left: -4rem;
        }

        @media (max-width: 500px) {
          display: none;
        }
      }

      img {
        background: #ededed;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);

        @media (max-width: 898px) {
          width: 35.8125rem;
          height: 22.5rem;
          flex-shrink: 0;
          object-fit: cover;
          background-size: 100%;
        }

        @media (max-width: 500px) {
          width: 20.375rem;
          height: 25rem;
          flex-shrink: 0;
        }
      }
    }

    .event_tab {
      width: 27.8125rem;

      @media (max-width: 898px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 95%;
        text-align: center;
      }
      h2 {
        color: #242b37;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem; /* 100% */
        letter-spacing: -0.03125rem;

        @media (max-width: 500px) {
          font-size: 2rem;
          line-height: 2.5rem; /* 125% */
          letter-spacing: -0.025rem;
        }
      }

      p {
        color: #242b37;
        font-family: 'League Spartan';
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem; /* 150% */
        margin: 1.19rem 0 3.75rem;

        @media (max-width: 898px) {
          width: 28.5625rem;
        }

        @media (max-width: 500px) {
          font-size: 1rem;
          width: 90%;
          margin: 0.81rem auto 1.65rem;
          line-height: 1.625rem; /* 162.5% */
        }
      }

      .buts {
        margin-top: 4.94rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        @media (max-width: 898px) {
          margin-top: 0;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 3.44rem;
        }

        @media (max-width: 500px) {
          flex-direction: column;
          gap: 1rem;
        }

        small {
          color: #4c4c4c;
          font-size: 1.0625rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.75rem; /* 164.706% */
          letter-spacing: 0.15625rem;
          opacity: 0.5;
          text-transform: uppercase;
          cursor: pointer;

          &.active {
            opacity: 1;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              width: 5.9375rem;
              height: 0.0625rem;
              background: #9e7f66;
              left: -28%;
              top: 37%;

              @media (max-width: 898px) {
                left: 0;
                top: 100%;
                left: 30%;
                width: 3rem;
              }

              @media (max-width: 500px) {
                left: 44%;
              }
            }
          }
        }
      }
    }
  }
}
