.hero_container {
  background: url('../../assets/hero.png') no-repeat;
  height: 51.25rem;
  background-color: #111;
  object-fit: cover;
  background-size: 100%;

  @media (max-width: 1300px) {
    background-size: auto;
  }
  @media (max-width: 898px) {
    background: url('../../assets/tab-hero.png');
    background-repeat: no-repeat;
    height: 60.25rem;
    background-color: #111;
    background-position: top;
    background-size: 100%;
    // width: 100vw;
  }

  @media (max-width: 500px) {
    height: 48.25rem;
  }

  .hero_text {
    max-width: 74%;
    margin: auto;

    @media (max-width: 898px) {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 90vh;
      transform: translateY(4.5rem);
    }

    @media (max-width: 798px) {
      transform: translateY(8rem);
    }

    @media (max-width: 500px) {
      transform: translateY(2.5rem);
    }

    @media (max-width: 400px) {
      transform: translateY(1rem);
    }

    img {
      margin-top: 4rem;
    }

    h1 {
      color: #fff;
      font-size: 5rem;
      font-style: normal;
      font-weight: 300;
      line-height: 5rem; /* 100% */
      letter-spacing: -0.0625rem;
      margin: 9.56rem 0 0.68rem;
      @media (max-width: 898px) {
        margin: 2.38rem 0 1.25rem;
        text-align: center;
        font-size: 3rem;
        line-height: 4rem; /* 133.333% */
        letter-spacing: -0.0375rem;
      }

      @media (max-width: 500px) {
        font-size: 2rem;
        line-height: 2.5rem; /* 125% */
        letter-spacing: -0.025rem;
      }
    }

    p {
      color: #fff;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem; /* 150% */
      width: 27.8rem;
      margin-bottom: 2.5rem;

      @media (max-width: 898px) {
        width: 75%;
        text-align: center;
      }

      @media (max-width: 500px) {
        font-size: 1rem;
        line-height: 1.625rem; /* 162.5% */
        width: 80%;
      }
    }
  }
}
