footer {
  background-color: #111;

  .wrapper {
    max-width: 74vw;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    padding: 5rem 0;
    // height: 15rem;

    img {
      margin-right: 12.04rem;
    }

    .list {
      display: flex;
      align-items: flex-start;
      gap: 10.75rem;

      ul {
        li {
          list-style: none;
          color: #fff;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.75rem; /* 200% */
          letter-spacing: 0.125rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
