.showcase_container {
  position: relative;
  .wrapper {
    max-width: 74vw;
    margin: 0 auto;

    .top_showcase,
    .bottom_showcase {
      display: flex;
      align-items: center;
      //   justify-content: center;
      gap: 7.81rem;

      @media (min-width: 1650px) {
        justify-content: center;
      }

      @media (max-width: 898px) {
        flex-direction: column;
        gap: 0rem;
      }

      .gray {
        position: absolute;
        left: 0;
        top: 20%;

        @media (max-width: 898px) {
          left: -65%;
          top: 10%;
        }
      }

      .place {
        display: flex;
        align-items: flex-start;
        background: url('../../assets/place.png') no-repeat;
        width: 33.75rem;
        height: 45rem;
        flex-shrink: 0;
        background-color: #ededed;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
        object-fit: cover;
        transform: translateY(-4rem);

        @media (max-width: 898px) {
          background: url('../../assets/tab-place.png') no-repeat;
          height: 22.5rem;
          width: 35.8125rem;
        }
      }

      .showcase_text {
        width: 27.8125rem;
        @media (max-width: 898px) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }

        h2 {
          color: #242b37;
          font-size: 3rem;
          font-style: normal;
          font-weight: 700;
          line-height: 3rem; /* 100% */
          letter-spacing: -0.03125rem;
          margin: 3.44rem 0 1.69rem;
        }

        p {
          color: #242b37;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.875rem; /* 150% */
        }
      }
    }

    .bottom_showcase {
      flex-direction: row-reverse;

      @media (min-width: 1650px) {
        justify-content: center;
      }

      @media (max-width: 898px) {
        flex-direction: column;
        gap: 0rem;
      }

      .images {
        .grey {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .food {
          background: url('../../assets/food.png') no-repeat;
          width: 33.75rem;
          height: 45rem;
          flex-shrink: 0;
          background-color: #ededed;
          box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
          object-fit: cover;
          transform: translateY(4rem);
          position: relative;

          @media (max-width: 898px) {
            background: url('../../assets/tab-f00d.png') no-repeat;
            height: 22.5rem;
            width: 35.8125rem;
            margin-bottom: 3.5rem;
          }

          svg {
            position: absolute;
            right: 0;
            top: 40%;
            right: -20%;
          }
        }
      }
    }
  }
}
